<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Main Page</title>
</head>
<body>
<form th:method="post" th:action="@{/admin/main}" th:object="${office}">
    <label for="office">Office</label>
    <select id="office" th:field="*{id}">
        <option th:each="temp_office : ${officeList}"
                th:value="${temp_office.getId()}"
                th:text="${temp_office.getTitle()}">type
        </option>
    </select>
    <input type="submit" value="Choose">
</form>

<div th:each="temp_person : ${personList}">
    <p th:text="${temp_person.getFirstname()} + ' ' + ${temp_person.getLastname()} + ' '
                + ${temp_person.getAge()} + ' '
                + ${temp_person.getRole()} + ' '
                + ${temp_person.getEmail()} + ' '
                + ${temp_person.getOffice().getTitle()}">
    </p>
</div>

<form>
    <input type="button" value="Add user" onClick='location.href="http://localhost:8080/admin/add_user"'>
</form>

<form>
    <input type="button" value="Change role" onClick='location.href="http://localhost:8080/admin/change_role"'>
</form>
</body>
</html>